#define APSTUDIO_READONLY_SYMBOLS
#include "../../Authoring/Build/versionnumber.h"
#undef APSTUDIO_READONLY_SYMBOLS

IDI_ICON1               ICON    DISCARDABLE     "resources/images/Viewer.ico"
IDI_ICON2				ICON	DISCARDABLE		"resources/images/ViewerDoc.ico"

1 VERSIONINFO
FILEVERSION    	FILEVER
PRODUCTVERSION 	PRODUCTVER
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", STRCOMMENTS
            VALUE "CompanyName", STRCOMPANYNAME
            VALUE "FileDescription", "Qt 3D Viewer " STRMAJVER
            VALUE "FileVersion", STRFILEVER
            VALUE "InternalName", "Qt3DViewer\0"
            VALUE "LegalCopyright", STRCOPYRIGHT
            VALUE "LegalTrademarks", STRCOMMENTS
            VALUE "OriginalFilename", "Qt3DViewer.exe\0"
            VALUE "PrivateBuild", STRCOMMENTS
            VALUE "ProductName", STRPRODUCTNAME STRMAJVER
            VALUE "ProductVersion", STRPRODUCTVER
            VALUE "SpecialBuild", STRCOMMENTS
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x409, 1252

    END
END


