build-*
*.pro.user*
/*/Viewer/Shared/UICEmbeddedWatermark.cpp
/.qmake.stash
fontcache/
mocinclude.opt
/installerextras/*/
/src/3rdparty/boost/
/src/3rdparty/FBX/
*.o
Makefile
Makefile.*
.moc/
.uic/
.rcc/
.obj/
lib/
moc_*.cpp
.DS_Store
*.qmlc
*.so
