<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Qt 3D Studio Application File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.uia</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>uia</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Qt 3D Studio Presentation File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.uip</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>uip</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.qt-project.uip</string>
				<string>org.qt-project.uia</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>(C) 2020 The Qt Company Ltd</string>
	<key>CFBundleExecutable</key>
	<string>Qt3DStudio</string>
	<key>CFBundleIconFile</key>
	<string>studio.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.qt-project.qt3dstudio</string>
	<key>CFBundleVersion</key>
	<string>2.7.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
